/*button css*/
.sws_superaction {
  -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    bottom: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    z-index: 998;
}

.superwebshare_prompt {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 17px;
    font-weight: 600;
    height: 56px;
    letter-spacing: 1px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-indent: -9999px;
    text-overflow: initial;
    text-transform: uppercase;
    width: 56px;
    line-height: 0;
}
.superwebshare_button_svg.superwebshare_prompt > svg{
  width: 29px;
  padding-right: 5px;
}
.superwebshare_prompt:not(.superwebshare_button_svg)::before {
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  height: 24px;
  width: 24px;
}
.superwebshare_prompt.superwebshare_normal_button1::before {
  position: unset;
}
.superwebshare_prompt::before { 
  background-image: url('../assets/android_share.svg');
}

.superwebshare_prompt:hover,
.superwebshare_prompt:focus,
.superwebshare_prompt:active {
    outline: 0;
    text-decoration: none;
}

.superwebshare_prompt {
    border-radius: 28px;
    padding: 0 24px;
    text-indent: 0;
    width: auto;
}
.superwebshare_prompt.superwebshare-button-medium{
  padding: 0 12px;
  --width: 47px;
  height: var( --width );
  min-width: var( --width );
  width: auto;
  font-size: 15px;
}
.superwebshare_prompt.superwebshare-button-medium svg{
  width: 20px !important;
  padding-bottom: 1px;
}
.superwebshare_prompt.superwebshare-button-small{
  padding: 0 10px;
  --width: 38px;
  height: var( --width );
  min-width: var( --width );
  width: auto;
  font-size: 13px;
}
.superwebshare_prompt.superwebshare-button-small svg{
  width: 17px !important;
}
.superwebshare-button-curved, .superwebshare-button-square, .superwebshare-button-circle{
  border-radius: 15px;
  padding: 0;
  --width: 56px;
  height: var( --width );
  width:  var(--width) ;
  justify-content: center;
}
.superwebshare-button-square{
  border-radius: 0;
}
.superwebshare-button-circle{
  border-radius: 50%;
}
.superwebshare-button-curved > span, .superwebshare-button-square > span, .superwebshare-button-circle > span{
  display: none;
}
.superwebshare-button-curved.superwebshare_button_svg > svg, .superwebshare-button-square.superwebshare_button_svg > svg, .superwebshare-button-circle.superwebshare_button_svg > svg{
  padding: 0;
  width: 30px;
}
@media ( max-width: 1264px ){
  .superwebshare_tada{
    justify-content: center;
    padding: 0;
    height: 56px;
    width: 56px;
  }
  .superwebshare_tada span{
    display: none;
  }
}

/* Button for Above and Below post */

.woocommerce-page .superwebshare_normal_button1 {
  margin: 16px 0;
}

.superwebshare_normal_button1:hover {
    opacity: .8!important;
}

/*Tada*/
@-webkit-keyframes tada {
	0% {-webkit-transform:scale(1)}
	10%, 20% {-webkit-transform:scale(0.9) rotate(-3deg)}
	30%, 50%, 70%, 90% {-webkit-transform:scale(1.1) rotate(3deg)}
	40%, 60%, 80% {-webkit-transform:scale(1.1) rotate(-3deg)}
	100% {-webkit-transform:scale(1) rotate(0)}
}

@-moz-keyframes tada {
	0% {-moz-transform:scale(1)}
	10%,20% {-moz-transform:scale(0.9) rotate(-3deg)}
	30%, 50%, 70%, 90% {-moz-transform:scale(1.1) rotate(3deg)}
	40%, 60%, 80% {-moz-transform:scale(1.1) rotate(-3deg)}
	100% {-moz-transform:scale(1) rotate(0)}
}

@-o-keyframes tada {
	0% {-o-transform:scale(1)}
	10%,20% {-o-transform:scale(0.9) rotate(-3deg)}
	30%, 50%, 70%, 90% {-o-transform:scale(1.1) rotate(3deg)}
	40%, 60%, 80% {-o-transform:scale(1.1) rotate(-3deg)}
	100% {-o-transform:scale(1) rotate(0)}
}

@keyframes tada {
	0% {transform:scale(1)}
	10%, 20% {transform:scale(0.9) rotate(-3deg)}
	30%, 50%, 70%, 90% {transform:scale(1.1) rotate(3deg)}
	40%, 60%, 80% {transform:scale(1.1) rotate(-3deg)}
	100% {transform:scale(1) rotate(0)}
}

.superwebshare_tada {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	-o-animation-timing-function: ease;
	animation-timing-function: ease;
}

.superwebshare_tada:hover {
	-webkit-animation-name: tada;
	-moz-animation-name: tada;
	-o-animation-name: tada;
	animation-name: tada;
}

.sws-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.sws-modal-bg .modal-container {
  max-width: 420px;
  min-width: 200px;
  width: 100%;
  outline: 0 none;
  z-index: 1999;
  border-radius: 8px;
  padding: 16px;
  color: #ffffff;
  background-color: #7a7a7a;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  display: grid;
  position: relative;
  animation: animateTop .5s;
  transition: all .5s;
  margin: 15px;
}

.sws-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1px;
  flex-wrap: wrap;
}

.sws-links a {
  font-size: 14px;
  text-decoration: none;
}

.sws-links a:hover .sws-icon::after {
  opacity: 1;
}

.modal-container a, .modal-container a:link, .modal-container a:visited {
  color: #fff;
  text-align: center;
}
.sws-copy a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  background: #252525;
  border-radius: 50px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS Animations */
@keyframes animateTop {
  0% {
    top: -40px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes animateTop {
    0% {
        top: -40px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
.sws-modal-bg .modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.sws-modal-bg .sws-modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  text-decoration: none;
  transform: scale(1.5);
}
.sws-icon::after {
  content: "";
  width:40px;
  height:40px;
  background: url('../assets/sws-icons.png');
  display: inline-block;
  background-size: auto 41px;
  transition: all 0.3s;
  opacity: 0.7;
}
.sws-icon.sws-icon-facebook::after {
  background-position: 0px;
}
.sws-icon.sws-icon-twitter::after {
  background-position: -40px;
}

.sws-icon.sws-icon-linked-in::after {
  background-position: -120px;
}

.sws-icon.sws-icon-whatsapp::after {
  background-position: -80px;
}

.sws-icon.sws-icon-copy::after,
.sws-icon.sws-icon-copy {
    background-size: auto 22px;
    background-position: -305px;
    height: 20px;
    width: 20px;
    opacity: 1;
}


/* Layout 2 */

.sws-layout-2 .modal-title {
    text-align: center;
}

.sws-layout-2 .modal-container {
    padding-left: 0;
    padding-bottom: 0;
}

.sws-modal-bg.sws-layout-2 .sws-links,
.sws-modal-bg.sws-layout-2 .sws-copy {
    flex-direction: column;
    margin-inline-end: -15px;
    margin-bottom: 0;
}

.sws-modal-bg.sws-layout-2 .sws-links a,
.sws-modal-bg.sws-layout-2 .sws-copy a {
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid #ffffff70;
    padding: 15px;
    background-color: unset;
    border-radius: unset;
    font-size: 14px;
    justify-content: flex-start;
}

.sws-modal-bg.sws-layout-2 .sws-links p,
.sws-layout-2 .sws-links a span {
    margin: 0;
    height: 16px;
    line-height: 1.45;
}

.sws-layout-2 .sws-icon::after,
.sws-layout-2 .sws-icon {
    width: 16px;
    height: 16px;
    background-size: auto 18px;
}

.sws-layout-2 .sws-icon.sws-icon-twitter::after {
    background-position: -18px;
}

.sws-layout-2 .sws-icon.sws-icon-linked-in::after {
    background-position: -54px;
}

.sws-layout-2 .sws-icon.sws-icon-whatsapp::after {
    background-position: -36px;
}

.sws-layout-2 .sws-icon.sws-icon-copy::after {
    background-position: -72px;
}


/* Layout 3 */

.sws-layout-3 .sws-links {
  flex-direction: column;
}

.sws-layout-3.sws-modal-bg .modal-title {
  text-align: center;
  color: rgb(36, 36, 36);
}

.sws-layout-3 .modal-container a,
.sws-layout-3 .modal-container a:link,
.sws-layout-3 .modal-container a:visited {
  color: rgb(36, 36, 36);
}

.sws-layout-3 .sws-links a,
.sws-layout-3 .sws-copy a {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 14px;
}

.sws-layout-3 .sws-links,
.sws-layout-3 .sws-copy {
    flex-direction: column;
    margin-bottom: 0;
}

.sws-layout-3 .sws-copy a {
    background-color: unset;
    padding: 0;
}

.sws-layout-3 .sws-links a span,
.sws-layout-3 .sws-links a p {
    margin: 0 0 32px 0;
}

.sws-layout-3 .sws-icon::after,
.sws-layout-3 .sws-icon.sws-icon-copy {
  background-size: auto 24px;
  width: 24px;
  height: 24px;
}

.sws-layout-3 .sws-icon.sws-icon-facebook::after {
  background-position: -118px;
}

.sws-layout-3 .sws-icon.sws-icon-twitter::after {
  background-position: -142px;
}

.sws-layout-3 .sws-icon.sws-icon-linked-in::after {
  background-position: -166px;
}

.sws-layout-3 .sws-icon.sws-icon-whatsapp::after {
  background-position: -190px;
}

.sws-layout-3 .sws-icon.sws-icon-copy::after {
  background-position: -214px;
}
 