/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

//  .sws-option-container{
//     margin-bottom: 12px;
//  }
.sws-block-label{
	font-size: 11px;
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: calc(8px);
    padding: 0px;
}
.sws-input-alignment {
    li{
        padding: 6px;
		border-color: transparent;
		border-style: solid;
		border-width: 1px;
		border-radius: 100px;
		line-height: 0;
		cursor: pointer;
    }
    li.active{
        border-color: gray;
    }
}

.sws-block-icons-list{
    display:flex;
    justify-content: space-between;
    margin:0;
    li{
        text-align-last: center;
        border-radius: 3px;
        padding: 3px;
        cursor: pointer;
        
    }
    li.active{
        background-color:rgb(201, 200, 200)
    }
    svg{
        width:20px;
        
    }
}
